label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

/* Corrections: */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FONT */

h1, h2, h3, h4, h5, p, a, ul, li, form, input, fieldset, select, option, button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.01071em;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h5, p, a, ul, li, form, input, fieldset, select, option, button {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  line-height: 2;
}

h2 {
  font-size: 1.6rem;
  line-height: 2;
}

h3, h4, h5, p, a, ul, li, form, input, fieldset, select, option, button {
  font-size: 0.875rem;
  line-height: 1.43;
}

/* ELEMENTS */

button {
  margin-top: 1rem;
}

/* MODAL */

.modal {
  border-radius: 8px;
  border: 0px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  /* padding: 15px 30px; */
  padding: 0;
  background: #fff;
  width: 90%;
  max-width: 500px;
}

.modal-content {
  padding: 15px;
}

::backdrop {
  background: #000;
  opacity: 0.8;
}