/* FONT */

h1, h2, h3, h4, h5, p, a, ul, li, form, input, fieldset, select, option, button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.01071em;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h5, p, a, ul, li, form, input, fieldset, select, option, button {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  line-height: 2;
}

h2 {
  font-size: 1.6rem;
  line-height: 2;
}

h3, h4, h5, p, a, ul, li, form, input, fieldset, select, option, button {
  font-size: 0.875rem;
  line-height: 1.43;
}

/* FORM ELEMENTS */

#create-employee {
  border-radius: 3px;
  box-shadow: 0px 0px 3px -1px;
  padding: 10px;
}

#create-employee .save-button {
  margin-top: 1rem;
  padding: 8px 15px;
}

#create-employee label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 8px;
}

#create-employee input {
  width: 97%;
  height: 25px;
  border: 1px solid #0000003d;
  border-radius: 3px;
}

#create-employee select {
  height: 32px;
  border: 1px solid #0000003d;
}

.address {
  margin-top: 10px;
  border: 1px solid #0000003d;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



